@import 'bulma/css/bulma.css';

.container {
    padding: 10px;
    max-width: 700px !important;
}

.add-todo {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 5px;
}

.filter {
    appearance: none;
    margin-left: -5px;
}

.filter-label {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}