.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    border: none;
    outline: none;
    width: fit-content;
    background: transparent;
}
.has-text-overline {
    text-decoration: line-through;
}
